@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}   

@*I will be above the printable area*@
<div class="main-selection-area">

    <div class="input-area-group-one">

        <!-- Week Selector-->
        Select Week: <select name="" id="week-selector"></select>
        <button type="button" id="new-week-button">Add New Week</button>
        <br>
        <!-- Here is where the text box for the species name and the check boxes for the toggles will go -->
        Botanical Name:
        <input type="text" id="tree-name" placeholder="Enter botanical name here...">
        <br>
        Common Name:
        <input type="text" id="common-name" placeholder="Enter common name here...">
        <br>
        Nativity:
        <select name="" id="nativity-select">
            <option hidden value="default">Select An Option...</option>
            <option value=""></option>
            <option value="Native">Native</option>
            <option value="Non-Native">Non-Native</option>
            <option value="Invasive">Invasive</option>
        </select>
        <br>
        Dominance:
        <select name="" id="dominance-select">
            <option hidden value="default">Select An Option...</option>
            <option value=""></option>
            <option value="Non-Dominant">Non-Dominant</option>
            <option value="Dominant">Dominant</option>
        </select>

        <br>

    </div>

    <div class="input-area-group-two">

        TEST    

    </div>

</div>

@*This will print*@
<div class="printable-area">

    <img src="../images/piet-oudolf-triplenode-01.png" class="background-image" alt="" />

    <div class="header-wrapper">


        <div class="selected-header-details">

            <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />
    
            <h1 id="display-tree-name"></h1>
            <h3 id="display-common-name"></h3>
            <h4 id="tree-details"></h4>
        </div>

        <div id="letter-container">

            <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />

            <div id="first-letter-capitalized">
                <!-- I will be filled programatically -->
            </div>
        </div>
    </div>

    <div class="central-section-wrapper">

        <div class="main-content-wrapper">

            <!-- Image 1 -->
            <div class="input-container">
                <div id="drop-area" class="img-drop-area data-entry image-entry dash-border">
                    <form class="image-form">
                        <input class="hide-element" type="file" multiple accept="image/*">
                        <img class="uploaded-image" src="" alt="Drag Image Here...">
                    </form>
                </div>

                <div class="data-entry text-container">

                    <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />

                    <div class="text-entry" contenteditable=""></div>

                </div>
            </div>

            <!-- Image 2 -->
            <div class="input-container">
                <div id="drop-area" class="img-drop-area data-entry image-entry dash-border">
                    <form class="image-form">
                        <input class="hide-element" type="file" multiple accept="image/*">
                        <img class="uploaded-image" src="" alt="Drag Image Here...">
                    </form>
                </div>

                <div class="data-entry text-container">

                    <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />

                    <div class="text-entry" contenteditable=""></div>

                </div>
            </div>

            <!-- Image 3 -->
            <div class="input-container">
                <div id="drop-area" class="img-drop-area data-entry image-entry dash-border">
                    <form class="image-form">
                        <input class="hide-element" type="file" multiple accept="image/*">
                        <img class="uploaded-image" src="" alt="Drag Image Here...">
                    </form>
                </div>

                <div class="data-entry text-container">

                    <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />

                    <div class="text-entry" contenteditable=""></div>

                </div>
            </div>

            <!-- Image 4 -->
            <div class="input-container">
                <div id="drop-area" class="img-drop-area data-entry image-entry dash-border">
                    <form class="image-form">
                        <input class="hide-element" type="file" multiple accept="image/*">
                        <img class="uploaded-image" src="" alt="Drag Image Here...">
                    </form>
                </div>

                <div class="data-entry text-container">

                    <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />

                    <div class="text-entry" contenteditable=""></div>

                </div>
            </div>

            <!-- Image 5 -->
            <div class="input-container">
                <div id="drop-area" class="img-drop-area data-entry image-entry dash-border">
                    <form class="image-form">
                        <input class="hide-element" type="file" multiple accept="image/*">
                        <img class="uploaded-image" src="" alt="Drag Image Here...">
                    </form>
                </div>

                <div class="data-entry text-container">

                    <img src="../images/big-white.png" class="chrome-print-workaround" alt="" />

                    <div class="text-entry" contenteditable=""></div>

                </div>
            </div>

        </div>

        <div class="side-bar-wrapper">

            <div class="plant-information-flags">
                <h1 class="vertical-text" id="nativity"></h1>
            </div>

            <div class="plant-information-flags">
                <h1 class="vertical-text" id="dominance"></h1>
            </div>

            <!--<div class="plant-information-flags">
              <h1 class="vertical-text" id="invasiveness"></h1>
            </div> -->

        </div>

    </div>
</div>
