/* Box sizing reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*This is the input/control area above what will print */
.main-selection-area {
    display: flex;
    flex-direction: row;
}

.input-area-group-one {
    flex-grow: 1;
}

.input-area-group-two {
    flex-grow: 1;
}

.printable-area {
    height: 1400px;
    width: 1110px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

img {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    /*max-width: 250px;*/
}

h1 {
  font-weight:bold;
  font-family: "Verdana";
}

h3 {
  font-weight:bold;
  font-family: "Verdana";
}

h4 {
  font-weight: bold;
  font-family: "Helvetica";
}

.header-wrapper {
    height: 10%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.central-section-wrapper {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.side-bar-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;  
  flex: 1 0 8%;
}

.main-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 7 1 auto;
  min-width: 0;
}

