/*Remove header functionality area for printing*/
@media print {
  
    /* Remove the selection header */
    .main-selection-area {
      display: none
    }

    /* Print back ground images */
    * {
      -webkit-print-color-adjust: exact;   /* Chrome, Safari */
    }

    /* Remove the selection header
    .printable-area:before {
        content: url('../images/materia-medica-2.jpg');
    }*/

}

